<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>在线数据平台</title>
<link rel="stylesheet" href="../static/css/css_plantform.css">
	
<script src="../static/js/jquery-3.5.1.js"></script>
<script src = "../static/js/jCanvas.js"></script>	
<script src="../static/js/platform_main.js"></script>
<script>
	
</script>
	
<style>

</style>
</head>

<body>

	<div class="nav">
		<div class="window"></div>
		<p class="title" id = "tt">PLATFORM&nbsp; BETA&nbsp;&nbsp;&nbsp;click here to update datas</p>
	</div>
	
	<div class = "base_screen">
		
		<a href="/platform/download" download="datas.xls" target="_blank">
			<span id="download_btn">下载数据</span>
		</a>
		
		<div class="map_screen">
			<canvas class = "map" id="canvas" width="1520px" height="630px"></canvas>
		</div>
		
		
	</div>
	
</body>
</html>
